<ion-header>
  <ion-toolbar>
    <ion-title>
      Check In Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentLocationDetails">
    <ion-card-content>
      Check In Time:&nbsp;{{ currentLocationDetails.timestamp | date:'medium' }}
      <br/>
      Coordinates: 
      <ul>
        <li>
          Longitude:&nbsp;{{ currentLocationDetails.coords.longitude}}
        </li>
        <li>
          Latitude:&nbsp;{{ currentLocationDetails.coords.latitude }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="checkIn()" [disabled]="loadingCheckIn">
    <span *ngIf="!loadingCheckIn">
        Check In
    </span>
    <span *ngIf="loadingCheckIn">
        <ion-spinner></ion-spinner>
    </span>
  </ion-button>

  <ion-button expand="block" (click)="watchLocation()" [color]="isWatchingLoc? 'danger':'primary'">
    <span *ngIf="!isWatchingLoc">
      <ion-icon name="eye"></ion-icon>&nbsp;Watch Location
    </span>
    <span *ngIf="isWatchingLoc">
      <ion-icon name="hand"></ion-icon>&nbsp;Stop Watching
    </span>
  </ion-button>

  <ion-button expand="block" (click)="clearLocations()" color="secondary" *ngIf="watchedLocations.length != 0">
    Clear Locations
  </ion-button>

  <ion-list>
    <ng-container *ngFor="let loc of watchedLocations">
      <ion-item>
        <b>Timestamp:</b>{{loc.timestamp}}<br/>
        <b>Longitude:</b>&nbsp;{{ loc.coords.longitude}}<br/>
        <b>Latitude:</b>&nbsp;{{ loc.coords.latitude }}<br/>
      </ion-item>
    </ng-container>
  </ion-list>
  

</ion-content>
